.button{
  background-color: rgb(105, 105, 246);
  padding: 25px 50px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  outline: none;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;}
  .link{
  background-color: red;
  padding: 5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  text-decoration: none;
  position: absolute;
  transform: translate(600px,-30px);
  -webkit-transform: translate(600px,-30px);
  -moz-transform: translate(600px,-30px);
  -ms-transform: translate(600px,-30px);
  -o-transform: translate(600px,-30px);
}